<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact | Plant Identification Online</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<nav class="navbar">

    <div class="logo">
        <a href="/">🌿 Plant Identification Online</a>
    </div>

    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact" class="active">Contact</a>
    </div>

</nav>

<div class="container">

    <h1>Contact Us</h1>

    <p>
        We'd love to hear from you.
    </p>

    <p>
        If you have suggestions, feedback, or encounter any issues while using Plant Identification Online, please feel free to contact us.
    </p>

    <p>
    Email:
    <a href="mailto:plantidentificationandcare@gmail.com">
        plantidentificationandcare@gmail.com
    </a>
</p>

    <p>
        We aim to respond as quickly as possible.
    </p>

</div>

</body>

</html>